
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

body{
    background-color: black;
    
}

.mode{
    background-color: white;
}

Header{
    display: flex;
    color: white;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1000000;
    background-color: black;
    list-style: none;
   
}
Header ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 15px;
    list-style: none;
}

Header ul i{
    font-size: 25px;

}
#git:hover{
    color:darkslateblue;
}
#twitter:hover{
    color:deepskyblue;
}
#linkedin:hover{
    color:cornflowerblue;
}

.pages {
    width: 30%;
    background-color: red;
    border-radius: 10px;
   
}
.pages ul{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 8px;
}
.pages ul li:hover{
color: black;
}
.light{
    box-shadow: 0 0 40px black;
    
}
.light i{
    font-size: 20px;
    transition: all .2s ease-in-out;
}
.light i:hover{
    cursor: pointer;
    color: yellow;
    font-size: 30px;
    text-shadow: 0 0 10px yellow, 0 0 15px white;
    
}

Header ul li{
    transition: all .1s ease-in;
}
Header ul li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.preloader{
    z-index: 10;
    position: fixed;
    background-color:black;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.preloader.loaded{
    transition:all .5s ease-out 2s;
    transform: translateY(-100%);
}
.circle{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: solid white 10px;
    position: absolute;
    border-block-start-color: green;
    animation: three60 1s linear infinite;
}

@keyframes three60{
    100%{
        transform: rotate(360deg);
    }

}
.site-wrapper{
    opacity: 0;
    
}
.site-wrapper.fadeIn{
    transition: all 1s ease-in 3s;
    opacity: 1;
}

.background{
perspective: 600px;
overflow: hidden;

}

.layers_container{
margin-top: 10vh;
height: 90vh;
width: 100vw;
transform-style: preserve-3d;
transform: rotateY(var(--move-x)) rotateX(var(--move-y));
}

.layer{
    
    position: absolute;
    background-position: center;
    background-size: cover;
    overflow: visible;
    inset: -5vw;
}
.i_1{
    border-radius: 60px;
    background-image: url(./images/layer-1.jpg);
    transform: translateZ(-300px);
    border: solid 10px white;
    
}
.i_2{
    background-image: url(./images/layer-2.png);
    transform: translateY(100px) translateZ(23px);
}
.i_25{
    background-image: url(./images/layer-5.png);
    transform:translateZ(10px) rotate(100deg) translateX(20%);
}
.Heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: white;
    transform:translateY(-170px) translateZ(40px) translateX(5vw);
    font-size: 70px;
    line-height: .8;
    text-shadow:0 0 15px #0b1101;
    z-index: 5555555;

}
.Heading:hover{
    cursor: pointer !important;
    z-index: 555555 !important;
    color:red;
}
.me{

    filter: drop-shadow(0px 0px 50px rgb(16, 27, 15));
    transform:translateY(20px) translateZ(100px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.me img{
    height: 430px;
}

.i_5{
    
    background-image: url(./images/layer-5.png);
    transform: translateZ(200px);

}
.i_6{
    background-image: url(./images/layer-6.png);
    transform: translateZ(270px);
}

.i_7{
    
}


.nav{
    position: absolute;
    height: 250px;
    width: 250px;
    background-color: white;
    margin-top: 10%;
    margin-left: 15%; 
    transform: translateZ(900px);
    box-shadow: 0 0 20px white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}


.nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    line-height: 0px;
}

.nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: relative;
    border-left: 10px solid green;
    margin: 3px;
}

.nav ul li::before{
    content: '';
    position: absolute;
    width: 90%;
    left: 0;
    height: 100%;
    background-color: green;
    transition: 0.5s;
    transform: scale(0);
    transform-origin: left;
}
.nav ul li:hover::before{
    transform: scale(1);
}
.nav ul li span{
    position: relative;
    display: inline-block;
    z-index: 1;
    transition:all 0.5s ease in;
}
.nav ul li:hover{
   left: 10px; 
}
.AboutMe{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:900px){
    
    .nav{
        width: 200px;
        height: 200px;
        bottom: 37%;
        left: -5%;
    }
    .i_1{
        border-radius: 10%;
        background-image: url(./images/layer-1.jpg);
        transform: translateZ(-190px);
        
    }
}

@media screen and (max-width:500px){
    
    .nav{
        left: 50%;
        height: 150px;
        width: 150px;
        
    }
    .i_2{
        transform: translateZ(-10px);
    }
  .Heading{
    font-size: 50px;
  }

  .pages ul{
    font-size: 6px;
  }
}



